@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Tiny5&display=swap');
* Enkel CSS-reset
html {
     box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
   padding: 0;
}

/* Layouten  */
body{
     background-color: #8E60C9;
}
.kontainer{
     font-family: "Cinzel", serif;
     width: 800px;
     margin: auto;
     padding: 40px;
     background-color: #E8DFF3;
} 
.bild{
     background-color:#5A5A5A;
     color: white;
     padding: 20px;
     display: flex;
     margin: auto;
     gap: 15px;
}
/* Rubrikerna */
h1{
     font-family: "Tiny5", sans-serif;
     font-size: 75px;
}
h2{

}

/* sidans innehåll */
img{
   width: 200px;
}
.bildtext{
    
}
.thanks{

}
a{

}